# Игнорировать конфигурационный файл Hugo
hugo.toml
/themes/my-theme/hugo.toml
# Игнорировать директорию с логами
logs/
/public


# Игнорировать все файлы с расширением .log
*.log

# Игнорировать временные файлы редактора
*.swp
*.tmp