{{ define "main" }}
  <h1>Категории</h1>
  <blockquote class="posts-blockquote">
  {{ .Content }}
</blockquote>
  {{ range .Pages }}
    <article class="test"> 
        <div class="category-block">
      <h2 class="posts-h2">
        <a class="posts-title" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      </h2>
    {{/*  {{ .Summary }}  */}}
    <div class="Block-test">
      <a class="category-more fs-14" href="{{ .RelPermalink }}">> Посмотреть все</a>
    </div>
</div>
    </article>
  {{ end }}
{{ end }}
